<section class="user-main">
  <h2 class="user-title">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="user-field">
      <div class="user-label">
        名前
      </div>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "user-form" %>
    </div>

    <div class="user-field user-field-email">
      <div class="user-label">
        メールアドレス
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-form" %>
    </div>

    <div class="user-field">
      <div class="user-label">
        パスワード
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "user-form" %>
    </div>

    <div class="user-field">
      <div class="user-label">
        パスワード確認用
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-form" %>
    </div>

    <div class="user-submit">
      <%= f.submit "アカウント登録", class: "user-submit-button" %>
    </div>
  <% end %>

  <%= link_to new_user_session_path, local: true do %>
    ログインする
  <% end %>
</section>
