<section class="problem-main">
  <h2 class="problem-title">問題を作成</h2>

  <%= form_with model: @problem, url: problems_path, method: :post, local: true do |f| %>

    <div class="problem-field">
      <div class="problem-label">
        タイトル
      </div>
      <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "problem-form" %>
    </div>

    <div class="problem-field">
      <div class="problem-label">
        問題文
      </div>
      <%= f.text_area :statement, autocomplete: "statement", class: "problem-form problem-area" %>
    </div>

    <div class="problem-field">
      <div class="problem-label">
        正解
      </div>
      <%= f.text_field :answer, autocomplete: "answer", class: "problem-form" %>
    </div>

    <div class="problem-field">
      <div class="problem-label">
        不正解①
      </div>
      <%= f.text_field :incorrect1, autocomplete: "incorrect1", class: "problem-form" %>
    </div>

    <div class="problem-field">
      <div class="problem-label">
        不正解②
      </div>
      <%= f.text_field :incorrect2, autocomplete: "incorrect2", class: "problem-form" %>
    </div>

    <div class="problem-submit">
      <%= f.submit "登録", class: "problem-submit-button" %>
    </div>
  <% end %>

</section>
