
<div class="mask" id="test-mask" style="cursor:auto;"></div>
<section class="problem-show">
  <h2 class="problem-title">復習問題</h2>
  <% if @problem == "false" %>
    <div>
      本日の復習問題はありません。
    </div>
    <%= link_to root_path, data: {"turbolinks" => false}, class: "", style: "", local: true do %>
      ホームへ戻る
    <% end %>
  <% else %>
    <div class="problem-show-title">
      <%= @problem.title %>
    </div>
    <div class="problem-show-text">
      <%= simple_format(@problem.statement) %>
    </div>
    <div class="problem-show-answers">
      <div class="show-answer">
        <div class="show-answer-title">
          A
        </div>
        <div class="show-answer-text answer-select" id="answer-select<%= @answers[0][1] %>">
          <%= @answers[0][0] %>
        </div>
      </div>
      <div class="show-answer">
        <div class="show-answer-title">
          B
        </div>
        <div class="show-answer-text answer-select" id="answer-select<%= @answers[1][1] %>">
          <%= @answers[1][0] %>
        </div>
      </div>
      <div class="show-answer-last">
        <div class="show-answer-title">
          C
        </div>
        <div class="show-answer-text answer-select" id="answer-select<%= @answers[2][1] %>">
          <%=@answers[2][0] %>
        </div>
      </div>
    <% end %>
  </div>

</section>

<section class="test-body test-body-crrect" id="test-body-crrect">
  <h2 class="test-text">
    正解！！！
  </h2>
  <div class="">
    3pt獲得しました！！
  </div>
  <div class="test-buttons">
    <%= link_to problem_path(@problem), data: {"turbolinks" => false}, class: "test-button", style: "text-decoration: none; color:white", local: true do %>
      問題詳細
    <% end %>
    <%= link_to test_path, data: {"turbolinks" => false}, class: "test-button", style: "text-decoration: none; color:white;", local: true do %>
      次へ
    <% end %>
  </div>
</section>

<section class="test-body test-body-incrrect" id="test-body-incrrect">
  <h2 class="test-text">
    残念！！！
  </h2>
  <div class="test-buttons">
    <%= link_to problem_path(@problem), data: {"turbolinks" => false}, class: "test-button", style: "text-decoration: none; color:white", local: true do %>
      問題詳細
    <% end %>
    <%= link_to root_path, data: {"turbolinks" => false}, class: "test-button", style: "text-decoration: none; color:white;", local: true do %>
      ホーム画面へ
    <% end %>
  </div>
</section>

<%= link_to user_registration_path(point: 3), id: "test-point-add", style: "display: none;", method: :patch, remote: true do %><% end %>
<% if @problem != "false" %>
  <script>
    var testMask = document.getElementById('test-mask');
    var answerSelect1 = document.getElementById('answer-select1');
    var answerSelect2 = document.getElementById('answer-select2');
    var answerSelect3 = document.getElementById('answer-select3');
    var correct = document.getElementById('test-body-crrect');
    var incorrect = document.getElementById('test-body-incrrect');
    answerSelect1.addEventListener('click', function () {
      correct.style.display = "block";
      testMask.style.display = "block";
      testMask.classList.add('mask-anime');
      document.getElementById('test-point-add').click();
    });
    answerSelect2.addEventListener('click', function () {
      incorrect.style.display = "block";
      testMask.style.display = "block";
      testMask.classList.add('mask-anime');
    });
    answerSelect3.addEventListener('click', function () {
      incorrect.style.display = "block";
      testMask.style.display = "block";
      testMask.classList.add('mask-anime');
    });
  </script>
<% end %>