

<% if user_signed_in? %>
  <section class="home-title">
    <h1>
      問問メーカー
    </h1>
    <h5>
      Toi Toi Maker
    <h5>
  </section>
  <section class="home-lists">
    <%= link_to new_problem_path, data: {"turbolinks" => false}, class: "home-list-text", style: "text-decoration: none;", local: true do %>
      問題を作る
    <% end %>
    <%= link_to myProblems_path, data: {"turbolinks" => false}, class: "home-list-text", style: "text-decoration: none;", local: true do %>
      自分の投稿一覧
    <% end %>
    <%= link_to test_path, data: {"turbolinks" => false}, class: "home-list-text", style: "text-decoration: none;", local: true do %>
      本日の復習
    <% end %>
    <div class="home-list-text home-hojo">
      問問道場
      <div class="list-dojo-select" id="list-dojo-select">
        <%= link_to toitoi_path(level: "low"), data: {"turbolinks" => false}, class: "dojo-select-list", style: "text-decoration: none;", local: true do %>
          初級
        <% end %>
        <%= link_to toitoi_path(level: "middle"), data: {"turbolinks" => false}, class: "dojo-select-list", style: "text-decoration: none;", local: true do %>
          中級
        <% end %>
        <%= link_to toitoi_path(level: "high"), data: {"turbolinks" => false}, class: "dojo-select-list", style: "text-decoration: none;", local: true do %>
          上級
        <% end %>
      </div>
    </div>
    <script>
      const listDojo = document.getElementById('list-dojo');
      const listDojoSelect = document.getElementById('list-dojo-select');
      document.addEventListener('click', (e) => {
        if(!e.target.closest('.home-hojo')) {
          listDojoSelect.classList.remove('list-dojo-select-show');
        } else {
          listDojoSelect.classList.add('list-dojo-select-show');
        }
      });
    </script>
  </section>
<% else %>
  <%= render partial: 'top_unlogin' %>
<% end %>