

<% if user_signed_in? %>
  <section class="home-title">
    <h1>
      問問メーカー
    </h1>
    <h5>
      Toi Toi Maker
    <h5>
  </section>
  <section class="home-lists">
    <%= link_to new_problem_path, data: {"turbolinks" => false}, class: "home-list-text", style: "text-decoration: none;", local: true do %>
      問題を作る
    <% end %>
    <%= link_to myProblem_path, data: {"turbolinks" => false}, class: "home-list-text", style: "text-decoration: none;", local: true do %>
      自分の投稿一覧
    <% end %>
    <%= link_to test_path, data: {"turbolinks" => false}, class: "home-list-text", style: "text-decoration: none;", local: true do %>
      本日の復習
    <% end %>
    <%= link_to toitoi_path, data: {"turbolinks" => false}, class: "home-list-text home-hojo", style: "text-decoration: none;", local: true do %>
      問問道場
      <div class="list-dojo-select" id="list-dojo-select">
        <div class="dojo-select-list">
          初級
        </div>
        <div class="dojo-select-list">
          中級
        </div>
        <div class="dojo-select-list">
          上級
        </div>
      </div>
    <% end %>
    <script>
      const listDojo = document.getElementById('list-dojo');
      const listDojoSelect = document.getElementById('list-dojo-select');
      document.addEventListener('click', (e) => {
        if(!e.target.closest('.home-hojo')) {
          listDojoSelect.classList.remove('list-dojo-select-show');
        } else {
          listDojoSelect.classList.add('list-dojo-select-show');
        }
      });

    </script>
  </section>
<% else %>
  <%= render partial: 'top_unlogin' %>
<% end %>