<section class="user-main">
  <h2 class="user-title">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="user-field">
      <div class="user-label">
        メールアドレス
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-form" %>
    </div>

    <div class="user-field">
      <div class="user-label">
        パスワード
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "user-form" %>
    </div>

    <div class="user-submit">
      <%= f.submit "ログイン", class: "user-submit-button" %>
    </div>
  <% end %>

  <%= link_to new_user_registration_path, local: true do %>
    新規登録する
  <% end %>
</section>
