<!DOCTYPE html>
<html>
  <head>
    <title>ToitoiMaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mask" id="mask">
    </div>
    <header>
      <%= render partial: 'layouts/header_items' %>
    </header>
    <main>
      <div style="text-align: center"><br>
        <% if flash[:success] != nil %>
          <p><font color="#1e90ff"><%= flash[:success] %></font></p>
        <% end %>
        <% if flash[:danger] != nil %>
          <p><font color="red"><%= flash[:danger] %></font></p>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <footer>
      <div style="text-align: center"><br>
          <p><font color="white">@ softdragons</font></p>
      </div>
    </footer>
  </body>
</html>
