<!DOCTYPE html>
<html>
  <head>
    <title>ToitoiMaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mask" id="mask">
    </div>
    <header>
      <%= render partial: 'layouts/header_items' %>
    </header>
    <main>
      <div style="text-align: center">
        <p><font color="red"><%= flash[:danger] %></font></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
